@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  /*   background-color: #00000; */ }

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
  /*   margin-top: 20px; */ }

/* Example responsive navigation menu  */
.fixed-nav-bar li, .fixed-nav-bar a {
  height: 50px;
  line-height: 50px; }

.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto; }

.menu a, .menu a:visited {
  color: #ffffff; }

.menu a:hover, .menu a:target {
  color: #ebebeb; }

.menu-items {
  display: inline-block; }

.sitename {
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px; }

a.sitename, a:visited.sitename {
  color: #e0e0e0; }

.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px; }

.menu-items a {
  text-decoration: none; }

.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2; }

.show {
  /*   background-image: url(assets/down-arrow-icon.png); */ }

.hide {
  /*   background-image: url(assets/up-arrow-icon.png); */ }

@media only screen and (max-width: 800px) {
  .menu {
    position: relative;
    width: 100%; }

  .sitename {
    position: absolute;
    top: 0;
    left: 15px;
    margin-left: 0px; }

  .menu-items {
    display: none;
    width: 100%;
    margin-top: 50px;
    background-color: #00000; }

  .menu-items li {
    display: block;
    text-align: center; }

  .show, .hide {
    position: absolute;
    top: 0;
    right: 15px; }

  .show {
    display: inline-block; }

  .hide {
    display: none; }

  #menu:target .show {
    display: none; }

  #menu:target .hide, #menu:target .menu-items {
    display: inline-block; } }
.mh2:hover {
  width: 250px; }

.mh1:hover {
  width: 250px; }

.mh:hover {
  width: 600px; }

.spout img:hover {
  width: 340px; }

@media only screen and (max-width: 220px) {
  .sitename, .show, .hide {
    font-size: 14px; } }
@media only screen and (max-width: 390px) {
  .sitename, .show, .hide {
    font-size: 14px; }

  .mh {
    width: 200px; }

  .mh:hover {
    width: 240px; } }
/* WEB FONT */
/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0; }

/* BASIC */
body {
  font: normal 18px/22px "Varela Round", sans-serif;
  /*   background-color: #e9ffff;
  color: #2e2e2e; */ }

h1, h2 {
  font-family: "Signika", sans-serif;
  font-weight: 600; }

h1 {
  font-size: 36px;
  line-height: 46px;
  color: #e0e0e0;
  text-align: center; }

h2 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: -20px; }

p {
  margin: 20px 0; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

/* LAYOUT */
.fixed-nav-bar {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6); }

.content {
  position: relative;
  background: #b27f87 url(images/bwpdress.jpg) no-repeat center center fixed;
  background-size: 700px 500px;
  height: 600px; }

.description, .some-related-articles {
  width: 90%;
  max-width: 960px;
  margin: 0 auto; }

.description {
  padding-top: 100px;
  min-height: 250px;
  text-align: center; }

.some-related-articles {
  /*   color: #747474; */
  /*   background-color: #917FB2; */
  color: black; }

body {
  background-color: #917FB2; }

#bio {
  /*   background-color: #747474; */ }

.some-related-articles h1 {
  color: #384e56;
  margin-top: 60px;
  text-transform: uppercase; }

.some-related-articles h2 a:link, .some-related-articles h2 a:visited {
  color: #464646;
  transition: color 0.1s ease; }

.some-related-articles h2 a:hover {
  color: #000000;
  transition: color 0.3s ease; }

/* SPECIAL */
.summary {
  color: #d9dee2;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Signika", sans-serif;
  font-size: 44px; }

.button, .button:visited, .button-dark {
  display: inline-block;
  max-width: 200px;
  margin: 50px 10px 30px 10px;
  padding: 10px;
  font-family: "Signika", sans-serif;
  color: #ffffff;
  background-color: #b27f87;
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.1s ease; }

.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color: #464646;
  border-color: #464646; }

.button:hover, .button-dark:hover {
  transition: all 0.3s ease; }

.button:hover {
  background-color: rgba(255, 255, 255, 0.2); }

.button-dark:hover {
  color: #ffffff;
  background-color: rgba(70, 70, 70, 0.9); }

.imee {
  font-family: Helvetica; }

/* #portfolio {
border: 5px solid #7F88B2;
background-color: #b27f87;
border-radius: 2%;
padding: 5px;

} */
#contact {
  height: 600px;
  width: 100%;
  /* background-image: url(images/purpdamask.jpg); */
  /*   background-color: #b27f87 ; */ }

.adventure {
  font-family: Courier;
  font-size: 30px;
  color: #b27f87;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

#bio, #portfolio, #cv, #contact {
  border: 2px solid white;
  border-radius: 3%;
  padding: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

#bio h1, #portfolio h1, #cv h1, #contact h1 {
  font-size: 50px;
  color: #b27f87;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

#portfolio img {
  margin: 15px; }

#portfolio .merlin h1, #portfolio .spout h1, #contact h2 {
  color: white;
  font-size: 30px; }

#portfolio a {
  align: center; }

.merlpara, .spoutpara {
  width: 35%; }

.merlin img, .merlpara {
  display: inline-block;
  vertical-align: top; }

.tech {
  text-align: center; }

.spout img, .spoutpara {
  display: inline-block;
  vertical-align: top; }

#cv .html, #cv .js, #cv .back, #cv .other, #cv .non {
  font-size: 18px;
  width: 17%;
  display: inline-block;
  list-style: none;
  vertical-align: top;
  margin: 10px; }

#cv h3 {
  padding: 3px;
  text-align: center;
  font-size: 30px;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

#contact h2 {
  width: 55%;
  margin: 10px;
  font-size: 32px;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.shout, .short {
  display: inline-block;
  vertical-align: top;
  margin: 5px; }

#contact {
  padding: 2px;
  margin: 3px; }

.shout {
  padding: 2px;
  margin: 10px;
  font-size: 23px;
  width: 50%;
  text-align: center; }

.short {
  border-radius: 27%;
  width: 40%;
  margin: 10px;
  /*   background-image: url(images/shorthair.jpg);
   */ }

/* .short:hover {
  background-image: url(images/cropz.jpeg);
  background-size: cover;

} */
/*
.little:hover {
  background-image: url(images/dogown.jpg);
  background-size: cover;
}
 */
.iconz {
  vertical-align: top;
  /*   display: inline-block; */ }

.iconq {
  margin: 5px;
  width: 50%; }

.iconq, .icc {
  display: inline-block; }

.icc p {
  display: inline-block;
  color: black; }

/*# sourceMappingURL=styles.css.map */
